* {
  font-family: "Oswald",sans-serif;
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
  }
}

/* Create two unequal columns that floats next to each other */
.column {
  /*padding: 10px;*/
  min-height: 850px;
  height: auto;
  overflow: hidden;
}

.left {
  height: 100%; /* Set the height of the sidebar to match the viewport */
  position: fixed; /* Fix the sidebar position */
  top: 0; /* Position the sidebar at the top */
  left: 0; /* Position the sidebar on the left */
  overflow: scroll;  
  overflow-x: hidden;
  overflow-y: auto; /* Enable vertical scrolling */
  width: 20%; /* or 200px*/
  padding: 20px; /* Add padding to the sidebar content */
  background-color: #fff;
}

.right {
  float:right;
  width: auto;
  background-color: #e9f2f9;
  overflow: scroll;  
  overflow-x: hidden;
  overflow-y: auto;
}

.content {
  background-color: #fff;
  margin-right: 100px;
  margin-left: 100px;
  margin-top: 80px;
}


.footer {
  margin: auto auto;
  text-align: center;
}


/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.grid-flow {
  display: grid;
  grid-auto-flow: row;
  grid-template-columns: repeat(3, 1fr);
  /*grid-template-rows: repeat(2, 1fr);*/
  justify-content: center;
  /*align-items: center;*/
  margin-left:50px;
}

/* not being used 
.grid-item {
  text-align: center;
}

section #description {
  padding-left: 50px;
} */

#nav_menu  ul{
  position: fixed;
  list-style-type: none;
  margin-left: 100px;
  padding: 0;
  overflow: hidden;
  background-color: e9f2f9;
}

#nav_menu li {
  float: left;
}

#nav_menu li a {
  display: block;
  color: rgb(0, 0, 0);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
#nav_menu li a:hover {
  background-color: rgb(222, 221, 218);
}

.footer {
	 margin-top: 10px;
	 width: 800px; 
	 word-wrap: break-word;
}

.rcorners {
  border: 2px solid rgb(222, 221, 218);
  border-radius: 25px;
  padding: 5px;

}

.one_column {
	margin-left: 50px;
  margin-top: 50px;
  margin-bottom: 50px;
}

.text_indent ul li {
	 text-indent: 50px;
}
 