* {
  box-sizing: border-box;
  font-family: "Oswald",sans-serif;
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
  }
}

/* Create two unequal columns that floats next to each other */
.column {
  padding: 10px;
  min-height: 850px;
  height: auto;
  overflow: hidden;
}

.left {
  float: left;
  width: 20%;
  position: fixed;
}

.right {
  float:right;
  width: 80%;
  background-color: #e9f2f9;
  overflow: scroll;  
  overflow-x: hidden;
  overflow-y: auto;
}

.content {
	background-color: #fff;
  margin-right: 50px;
  margin-left: 50px;
}

.tradingview-widget-container {
	padding-left: 50px;
}

.footer {
  margin: auto auto;
  text-align: center;
}


/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.grid-flow {
  display: grid;
  grid-auto-flow: row;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
}