* {
  box-sizing: border-box;
  font-family: "Oswald",sans-serif;
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
  }
}

/* Create two unequal columns that floats next to each other */
.column {
  /*padding: 10px;*/
  min-height: 850px;
  height: auto;
  overflow: hidden;
}

.left {
  float: left;
  width: 20%;
  position: fixed;
}

.right {
  float:right;
  width: 80%;
  background-color: #e9f2f9;
  overflow: scroll;  
  overflow-x: hidden;
  overflow-y: auto;
}

.content {
  background-color: #fff;
  margin-right: 50px;
  margin-left: 50px;
  margin-top:50px;
}

.tradingview-widget-container {
	padding-left: 50px;
}

.footer {
  margin: auto auto;
  text-align: center;
}


/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.content p {
	float:left;
  margin-left: 50px;
  position: relative;
}

.grid-flow {
  display: grid;
  grid-auto-flow: row;
  grid-template-columns: repeat(3, 1fr);
  /*grid-template-rows: repeat(2, 1fr);*/
  justify-content: center;
  /*align-items: center;*/
}

/* not being used 
.grid-item {
  text-align: center;
}

section #description {
  padding-left: 50px;
} */

#nav_menu  ul{
  position: fixed;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: e9f2f9;
}

#nav_menu li {
  float: left;
}

#nav_menu li a {
  display: block;
  color: rgb(0, 0, 0);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
#nav_menu li a:hover {
  background-color: rgb(222, 221, 218);
}